# Ignore node_modules
node_modules

# Ignore build outputs
dist

# Ignore test files
test

# Ignore log files
*.log

# Ignore git files
.git
.gitignore

# Ignore IDE config files
.vscode
.idea

# Ignore other config files that shouldn't be copied into the container
.eslintrc.js
.prettierrc

# Ignore md
README.md

