# Ignore node_modules
node_modules

# Ignore build outputs
.next

# Ignore public assets (if large and you don't want them in the Docker image)
public

# Ignore environment files (you may want to keep only production .env files)
.env
.env.development

# Ignore log files
*.log

# Ignore git files
.git
.gitignore

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore IDE config files
.vscode
.idea

# Ignore other config files that shouldn't be copied into the container
.eslintrc.js
.prettierrc
tsconfig.json
